@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
a.active {
  @apply bg-base-300;
}

#icon {
  width: 30px;
  cursor: pointer;
}

/* :root {
  --primary-color:#edf2fc;
  --secondary-color:#212121;
}
.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
}

body {
  background-color: var(--primary-color);
}
.color_home {
  background-color: var(--primary-color);
}

.all_recipe {
  background-color: var(--primary-color);
}
.header-text {
  color: var(--secondary-color);
}
.nav_text {
  color: var(--secondary-color);
}
.footer-text{
   color: var(--secondary-color);
} */
